.die {
  width: 35.84px;
  height: 35.84px;
  background-color: white;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;

  /* font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 20.5889px;
  line-height: 24px;
  text-align: center; */
  color: #2b283a;

  /* display: flex;
  align-items: center;
  justify-content: center; */
  cursor: pointer;
  position: relative;
}

.dot {
  width: 9px;
  height: 9px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}
.die[data-value="1"] .dot {
  display: none;
}

.die[data-value="1"] .dot:nth-child(1) {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Die face 2 */
.die[data-value="2"] .dot {
  display: none;
}

.die[data-value="2"] .dot:nth-child(2),
.die[data-value="2"] .dot:nth-child(3) {
  display: block;
}

.die[data-value="2"] .dot:nth-child(2) {
  top: 5%;
  left: 5%;
}

.die[data-value="2"] .dot:nth-child(3) {
  top: 70%;
  left: 70%;
}

/* Die face 3 */
.die[data-value="3"] .dot {
  display: none;
}

.die[data-value="3"] .dot:nth-child(1),
.die[data-value="3"] .dot:nth-child(2),
.die[data-value="3"] .dot:nth-child(3) {
  display: block;
}

.die[data-value="3"] .dot:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.die[data-value="3"] .dot:nth-child(2) {
  top: 5%;
  left: 5%;
}

.die[data-value="3"] .dot:nth-child(3) {
  top: 70%;
  left: 70%;
}

/* Die face 4 */
.die[data-value="4"] .dot {
  display: none;
}

.die[data-value="4"] .dot:nth-child(2),
.die[data-value="4"] .dot:nth-child(3),
.die[data-value="4"] .dot:nth-child(4),
.die[data-value="4"] .dot:nth-child(5) {
  display: block;
}

.die[data-value="4"] .dot:nth-child(2) {
  top: 5%;
  left: 5%;
}

.die[data-value="4"] .dot:nth-child(3) {
  top: 5%;
  left: 70%;
}

.die[data-value="4"] .dot:nth-child(4) {
  top: 70%;
  left: 5%;
}

.die[data-value="4"] .dot:nth-child(5) {
  top: 70%;
  left: 70%;
}
.die[data-value="5"] .dot {
  display: none;
}

.die[data-value="5"] .dot:nth-child(1),
.die[data-value="5"] .dot:nth-child(2),
.die[data-value="5"] .dot:nth-child(3),
.die[data-value="5"] .dot:nth-child(4),
.die[data-value="5"] .dot:nth-child(5) {
  display: block;
}

.die[data-value="5"] .dot:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.die[data-value="5"] .dot:nth-child(2) {
  top: 5%;
  left: 5%;
}

.die[data-value="5"] .dot:nth-child(3) {
  top: 5%;
  left: 70%;
}

.die[data-value="5"] .dot:nth-child(4) {
  top: 70%;
  left: 5%;
}

.die[data-value="5"] .dot:nth-child(5) {
  top: 70%;
  left: 70%;
}

/* Die face 6 */
.die[data-value="6"] .dot {
  display: none;
}

.die[data-value="6"] .dot:nth-child(2),
.die[data-value="6"] .dot:nth-child(3),
.die[data-value="6"] .dot:nth-child(4),
.die[data-value="6"] .dot:nth-child(5),
.die[data-value="6"] .dot:nth-child(6),
.die[data-value="6"] .dot:nth-child(7) {
  display: block;
}

.die[data-value="6"] .dot:nth-child(2) {
  top: 5%;
  left: 5%;
}

.die[data-value="6"] .dot:nth-child(3) {
  top: 5%;
  left: 70%;
}

.die[data-value="6"] .dot:nth-child(4) {
  top: 37%;
  left: 5%;
}

.die[data-value="6"] .dot:nth-child(5) {
  top: 37%;
  left: 70%;
}

.die[data-value="6"] .dot:nth-child(6) {
  top: 70%;
  left: 5%;
}

.die[data-value="6"] .dot:nth-child(7) {
  top: 70%;
  left: 70%;
}
